.search-person-widget {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  &__input {
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 15px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;

    &:active, &:focus {
      outline: none;
    }
  }

  &__persons-list-wrapper {
    background-color: #ffffff;
    position: absolute;
    width: 300px;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid #000000;
  }

  &__persons-list {
    width: 300px;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__persons-list-item {
    border-bottom: 1px solid black;
    cursor: pointer;

    &-link {
      box-sizing: border-box;
      padding: 10px;
      color: #000000;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: #93a3f8;
    }
  }

  &__persons-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 5px 3px;
    & button {
      margin-left: 5px;
    }
  }
}